{% extends 'base.html' %}

{% block content %}

<!-- GUITARS -->
<div class="col-12 mt-3">
    <div class="row guitar_display">
    {% for guitars in guitars_list %} 
    <div class="col-md-6 col-lg-4">
        <div class="card mb-4">
            <div class="card-body all_guitars">
                <div class="image-container">
                    <img class="card-img-top" src=" {{ guitars.guitar_image.url }}">
                    <div class="image-flash">
                        <p class="author">Author: {{ guitars.artist }}</p>
                    </div>
                </div>
                <a href="{% url 'guitars-post' guitars.slug %}" class="post-link">
                    <h2 class="card-title">{{ guitars.guitar_model }}</h2>
                </a>
                <hr />
                <p class="card-text">Price: €{{ guitars.price }}</p>
                <p class="card-text">Remaining Guitars: {{ guitars.remaining_guitars }}</p>
                    <p class="card-text text-muted h6">{{ guitars.created_on}} <i class="far fa-heart"></i>
                        {{ guitars.number_of_likes }}</p>
            </div>
        </div>
    </div>    
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
</div>
</div>


{% if is_paginated %}
<nav aria-label="Page navigation">
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
</ul>
</nav>
{% endif %}
</div>

{% endblock %}