{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<div class="col-12 guitar-zone">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-body guitar-card">
                    <h2>{{ guitars.guitar_model }}</h2>
                    <hr/>
                    <div class="image-container">
                        <img class="card-img-top" src="{{ guitars.guitar_image.url }}" alt="{{ guitars.guitar_model }}">
                        <p>Artist: {{ guitars.artist }}</p>
                        <hr/>
                        <p>Remaining Guitars: {{ guitars.remaining_guitars }}</p>
                        <p>Price: €{{ guitars.price }}</p>
                        <p>Description: {{ guitars.description | safe }}</p>
                        <br/>
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'like-guitars' guitars.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="guitars_id" value="{{ guitars.slug }}" class="btn-like"><i class="fas fa-heart"></i></button>

                                {% else %}

                                <button type="submit" name="guitars_id" value="{{ guitars.slug }}" class="btn-like"><i class="far fa-heart"></i></button>

                                {% endif %} 

                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        <!-- The number of likes goes before the closing strong tag -->
                        <span class="text-secondary">{{ guitars.number_of_likes }} </span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}